body {
    font-family: 'Montserrat', sans-serif;
}


/* header */

/* navbar */
.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .5));
    padding: 10px;
}

.menu-item {
    font-size: 15px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
}

.menu-item:hover {
    color: #70aed2;
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .3s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* end of navbar */

header {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(images/header-img.jpg) no-repeat center center /cover;
}
/* banner */
.banner {
    position: absolute;
    top: 25%;
    left: 59%;
    transform: translate(-50%, -50%);
    width: 80%;
}

/* end of banner */

/* end of header */
/* body */
.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}

/* content */
a:link {
    text-decoration: none;
    }
/* end of content */
/* end of body */
