body {
    font-family: 'Montserrat', sans-serif;
}

ul {
    list-style-type: none;
}

/* header */

/* navbar */
.nav-menu {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0));
    padding: 10px;
}

.menu-item {
    font-size: 15px;
    letter-spacing: 1px;
    color: #eee;
    transition: color .5s;
}

.menu-item:hover {
    color: #70aed2;
}

.line1, .line2, .line3 {
    width: 23px;
    height: 3px;
    margin: 5px;
    transition: all .3s;
}

.change .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
    opacity: 0;
}

.change .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
	padding: 5px 30px;
	background: linear-gradient(rgba(207, 41, 219, 0.9), rgba(207, 41, 219, 1));
}
/* end of navbar */

header {
    height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(images/header-img.jpg) no-repeat center center /cover;
}
/* banner */
.banner {
    position: absolute;
    top: 25%;
    left: 59%;
    transform: translate(-50%, -50%);
    width: 80%;
}


/* end of banner */

/* end of header */
/* body */
.avatar-sm {
    width: 1.5rem;
    height: 1.5rem;
}
.active {
    z-index: 1;
    color: #fff;
    background-color: #005ad4;
    border-color: #005ad4;
}
.border-soft {
    border-color: #f3f7fa!important;
}
.card {
    position: relative;
}

.card-header {
    background: 0 0;
    z-index: 2;
    border-bottom: none;
}
/* content */
a:link {
    text-decoration: none;
}
/* end of content */
/* list content */
.img {
    width: 220px;
	height: 135px;
    float: none;
    margin-top: 15px;
    margin-bottom: 10px;
    vertical-align: middle;
    border-style: none;
}
/* end of list content */
/* end of body */

/* footer */
.footer-link {
    color: #66799e;
    font-size: 13px;
    transition: all .3s;
}

.footer-link:hover {
    color: #70aed2;
    text-decoration: none;
}

.text-gray {
    color: #66799e!important;
}
.bg-dark {
    background-color: #2a354f!important;
}
.btn-secondary {
    color: #fff;
    background-color: #11ab7c;
    border-color: #11ab7c;
}
/* end of footer */
